Shared/Schemas/DeleteBooking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/DeleteBooking"
	xmlns:tns="http://www.example.org/DeleteBooking"
	xmlns:t="http://www.example.org/types"
	elementFormDefault="qualified">
	<import namespace="http://www.example.org/types"
		schemaLocation="types.xsd" />
	<complexType name="DeleteBooking_input_type">
		<sequence>
			<element name="b_id" type="t:id_type" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>
	<element name="delete_book_input" type="tns:DeleteBooking_input_type" />
</schema>